mixin editor()
    section#code.row.p-0.m-0.position-relative(
        style ='background:#1e1e1e;'
    )
        #numeracao.d-flex.flex-column.p-0.m-0.rounded-sm(
            style=' width: 4%; background:#1e1e1e; '
        )
            input#contado_linha_1.btn.btn-sm.m-0.p-0(
                type='button' 
                style='color:#848484; background:#1e1e1e;'
                value='1'
            )

        #editor.col-md-11.p-0.m-0.rounded-sm(
            style='background:#1e1e1e;'
        )
            p#linha.text-break.m-0.p-0(
                contenteditable='true' 
                autofocus='true'
            )
            
